html,
body {
  padding: 0;
  margin: 0;
  font-family: "Acumin Pro";
  background: #18191a;
  color: white;
  text-rendering: optimizeLegibility;
  font-synthesis: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@font-face {
  font-family: "NotoSansKR";
  src: local("NotoSansKR"),
    url("/assets/fonts/NotoSansKR-Black.woff2") format("woff2"),
    url("/assets/fonts/NotoSansKR-Black.woff") format("woff"),
    url("/assets/fonts/NotoSansKR-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansKR";
  src: local("NotoSansKR"),
    url("/assets/fonts/NotoSansKR-Bold.woff2") format("woff2"),
    url("/assets/fonts/NotoSansKR-Bold.woff") format("woff"),
    url("/assets/fonts/NotoSansKR-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
